// app global css in SCSS form
body {
	background-color: $light-page;
}

.main-wrapper {
	max-width: 1780px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.q-drawer {
    .q-toolbar__title {
        font-size: 1.17rem;
        line-height: 1.75rem;
    }

    .q-item {
        transition: all .3s ease 0s;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }

        &.q-router-link--active {
            opacity: 1;
            color: #FFFFFF;
            background-color: $primary;
        }
    }
}

// Dark Mode
.q-dark {
	color: $dark-font;
}

body.desktop {
    .q-header {
        background: linear-gradient(90deg,$header-bg1 0,$header-bg2 60%,$header-bg3);
    }
}

body.mobile {
    
}
