// app global css in SCSS form
body {
	background-color: $light-page;
}

.main-wrapper {
	max-width: 1780px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

// Dark Mode
.q-dark {
	color: $dark-font;
}

body.desktop {
    .q-header {
        background: $header-bg;
    }

}

body.mobile {
    
}
