// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #00265f;
$secondary: #2a5788;
$accent: #dd4b39;

$light: #212120;
$light-page: #f4f3ef;
$light-font: #FFFFFF;

$dark: #212120;
$dark-page: #121212;
$dark-font: hsla(0,0%,100%,.8);

$header-bg1: #00265f;
$header-bg2: #204065;
$header-bg3: #2a5788;
$header-bg: linear-gradient(90deg, $primary 0, $secondary);
$header-drawer: linear-gradient(90deg, $secondary 0, $primary);

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// Class Colors
$class_color_death-knight: #c41e3a;
$class_color_demon-hunter: #a330c9;
$class_color_druid: #ff7c0a;
$class_color_hunter: #aad372;
$class_color_mage: #3fc7eb;
$class_color_monk: #00ff98;
$class_color_paladin: #f48cba;
$class_color_priest: #ffffff;
$class_color_rogue: #fff468;
$class_color_shaman: #0070dd;
$class_color_warlock: #8788ee;
$class_color_warrior: #c69b6d;

// BattleNet PopUp
$bg-battlenet: #15171E;
$text-battlenet: #148eff;